h2{
    font-weight: 600;
}

.project-category-urls{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    i{
        margin-right: 16px;
        font-weight: 600;
        color: #505050;
    }
    i:hover{
        color: white;
    }
    i[selected] {
        color: white;
    }
}



.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-card{
        width: 300px;
        height: 200px;
        
    img{

    }
    h1{

    }
    p{

    }
}

.project-card:hover{
    background-color: white;
    img{

    }
    h1{
        color: black;
    }
    p{
        color: black;
    }
}