// .mid-section{
//     justify-content: space-between;
//     div{
//         // width: 32%;
//     }
// }
#side-nav{
    width: 35%;
}

#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // div{
    //     margin-left: 1rem;
    // }
    width: 65%;
    
    #about-text{
        font-size: 1.3rem;
    }
    #about-portrait{
        width: 40%;
        height: fit-content;
        max-width: 30vw;
    }

}
@media only screen and (min-width: 1000px){
    #about{
        justify-content: space-between;
        #about-text{
            width: 50%;
            padding-right: 5%;
        }
    }
}
@media only screen and (min-width: 601px) and (max-width: 999px){
    #about{
        flex-direction: column;
        #about-text{
            width: 100%;
        }
        #about-portrait{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    #side-nav{
        width: 100%;
    }
    #about{
        width: 100%;
        flex-direction: column;
        #about-portrait{
            width: 100%;
        }
    }
    .mid-section{
        div{
            width: 100%;
        }
    }
}

.social-url{
    display: flex;
    align-items: center;
    color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: 600;
    img{
        height: 1rem;
        margin-right: 8px;
    }
    a{
        font-size: 1rem;
        font-weight: 600;
        margin-left: 8px;

    }
    a:hover{
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}